{% extends "aedisite/base.html" %}
{% load static %}

{% block title %}Parrainage - {{ block.super }}{% endblock %}

{% block content %}
<div class="row blue darken-1 hide-on-med-and-down" id="index-banner">
    <div class="container valign-wrapper">
        <h2 class="white-text center-on-small-only font-weight-lower">Parrainage de Promotion</h2>
    </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header active"><i class="material-icons">info_outline</i>Présentation</div>
        <div class="collapsible-body">
            <div class="margin-it">
                <div class="row">
                    <div class="col s8 offset-s2">
                        <img class="materialboxed" width="100%" data-caption="Parrainage par l'entreprise Thalès en 2011" src="{% static 'aedisite/img/thales2011.jpg' %}"/>
                    </div>
                    <div class="col s12">
                        <br>
                        L'objectif du parrainage est d’établir une <b>relation privilégiée</b> entre une entreprise et les élèves du département Informatique dans le cadre d’engagements mutuels. 
                        La charte sur laquelle s'appuie le parrainage se veut une base pour développer, consolider et rendre durables des liens entre le monde académique et celui de l’entreprise.
                        Chaque année, la nouvelle promotion entrante au Département Informatique (3 IF – Première année du cycle Ingénieur) a l’opportunité d’être parrainée par 
                        une entreprise, pour ses trois années de second cycle.
                        <br><br>
                        En échange <b>d'une présence et d'une visibilité assurées</b> au sein du Département et des évènements de l'AEDI, l’entreprise parrainant s’engage à co-organiser 
                        des évènements particuliers pour les étudiants (conférences, week-end d’intégration, after-works ...) et à leur offrir certaines opportunités de stage et d'emploi.
                        Ce parrainage s’inscrit dans un rapport gagnant-gagnant et permet aux élèves de progresser dans les notions d’engagement, de professionnalisme et de responsabilité. 
                        Elle offre au parrain un véhicule de communication de ses valeurs et ses ambitions.
                    </div>
                </div>
            </div>
            <div class="row center">
                <a href="http://if.insa-lyon.fr/fr/content/parrainage" target="_blank" class="btn-large waves-effect waves-light blue lighten-1 modal-trigger">Plus d'informations<span class="large-only"> (Site du Département)</span></a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header active"><i class="material-icons">people</i>Historique</div>
        <div class="collapsible-body">
            <div class="margin-it">
                <div class="row center-it">
                    <div class="col s12 center-align">
                        <p>Voici la liste des entreprises ayant parrainé les différentes promotions des étudiants du département. Encore merci à elles.</p>
                    </div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Sopra-Steria</b><br/><i>2015 - 2018</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Atos</b><br/><i>2014 - 2017</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Hardis</b><br/><i>2013 - 2016</i></div>
                    <div class="col s12 margin-it hide-on-small-only hide-on-large-only"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Axa</b><br/><i>2012 - 2015</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Thalès</b><br/><i>2011 - 2014</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Altran</b><br/><i>2010 - 2013</i></div>
                    <div class="col s12 margin-it"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Orange</b><br/><b>Business Service</b><br/><i>2009 - 2012</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Solucom</b><br/><i>2008 - 2011</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">SNCF</b><br/><i>2007 - 2010</i></div>
                    <div class="col s12 margin-it hide-on-small-only hide-on-large-only"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Atos Origin</b><br/><i>2006 - 2009</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Steria</b><br/><i>2005 - 2008</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Capgemini</b><br/><i>2004 - 2007</i></div>
                    <div class="col s12 margin-it"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Microsoft</b><br/><i>2003 - 2006</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Sopra Group</b><br/><i>2002 - 2005</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Groupe Casino</b><br/><i>2001 - 2004</i></div>
                    <div class="col s12 margin-it hide-on-small-only hide-on-large-only"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b>Sinfor</b> puis<br/><b style="font-size:24px;">Société Générale</b><br/><i>2000 - 2003</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Société Générale</b><br/><i>1999 - 2002</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Steria</b><br/><i>1998 - 2001</i></div>
                    <div class="col s12 margin-it"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Altran</b><br/><i>1997 - 2000</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Schlumberger</b><br/><i>1996 - 1999</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Univers Informatique</b><br/><i>1995 - 1998</i></div>
                    <div class="col s12 margin-it hide-on-small-only hide-on-large-only"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Bull</b> et <b style="font-size:24px;">Axa</b><br/><i>1994 - 1997</i></div>
                    <div class="col s12 margin-it hide-on-med-and-up"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Sligos</b><br/><i>1993 - 1996</i></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Hewlet Packard</b><br/><i>1992 - 1995</i></div>
                    <div class="col s12 margin-it"></div>
                    <div class="col s6 m4 l2 center-align vertical-align"><b style="font-size:24px;">Univers Informatique</b><br/><i>1991 - 1994</i></div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">search</i>Informations</div>
        <div class="collapsible-body">
            <div class="margin-it">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">perm_contact_calendar</i></h2>
                            <h5 class="center">Contact</h5>
                            <p class="light">
                            Si votre société est intéressée pour encadrer une future promotion, ou si vous souhaitez de plus amples informations sur les conditions de cet accord, 
                            vous pouvez nous contacter, ou contacter directement la direction du département, via les adresses mails ci-dessous. 
                            Nous nous ferons un plaisir de dialoguer avec vous. Vous pouvez également consulter la page Web dédiée du Département,
                            <a href="http://if.insa-lyon.fr/fr/content/parrainage">ici.</a>
                            </p>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle blue">people_outline</i>
                                    <span class="title">
                                        <b>Bureau de l'Association</b><br/>
                                        <a href="mailto:aedi.bureau@listes.insa-lyon.fr" class="light">aedi.bureau@listes.insa-lyon.fr</a>
                                    </span>
                                </li>
                                <li class="collection-item avatar center-it">
                                    <i class="material-icons circle blue">school</i>
                                    <span class="title">
                                        <b>Jean-François BOULICAULT</b><br/>
                                        Directeur du département Informatique<br/>
                                        <i class="light">+33 (0)4 72 43 89 05</i><br/>
                                        <a href="mailto:jean-francois.boulicaut@insa-lyon.fr" class="light">jean-francois.boulicaut@insa-lyon.fr</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">check_circle</i></h2>
                            <h5 class="center">Nos Parrains</h5>
                            <div class="margin-it">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="justify-text">
                                        Ils parrainent actuellement nos promotions d'étudiants ingénieurs en informatique. Tout au long de l'année, ils accompagnent nos
                                        promotions dans leur apprentissage : conférences, after-works, offres de stage, participation aux activités de l'association ... Merci à eux !
                                        <br/><br/>
                                        La promotion 3IF (2015-2018) est parrainée par <b>Sopra-Steria</b>.<br/>
                                        La promotion 4IF (2014-2017) est parrainée par <b>Atos (Bull)</b>.<br/>
                                        La promotion 5IF (2013-2016) est parrainée par <b>Hardis Group</b>.
                                        </p>
                                    </div>
                                    <div class="col s12 m4">
                                        <img class="responsive-img center-it" src="{% static 'aedisite/img/logo-sopraSteria.png' %}"/>
                                    </div>
                                    <div class="col s12 m4">
                                        <img class="responsive-img center-it" src="{% static 'aedisite/img/logo-Atos.png' %}"/>
                                    </div>
                                    <div class="col s12 m4">
                                        <img class="responsive-img center-it" src="{% static 'aedisite/img/logo-Hardis.png' %}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
{% endblock %}
