{% extends "aedisite/base.html" %}
{% load static %}

{% block title %}Rencontres IF - {{ block.super }}{% endblock %}

{% block content %}
<div class="row blue darken-1 hide-on-med-and-down" id="index-banner">
    <div class="container valign-wrapper">
        <h2 class="white-text center-on-small-only font-weight-lower ">Les Rencontres IF</h2>
    </div>
</div>
<div class="parallax-container full-height no-margin">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text text-accent-1 text-darken-3 on-light-background">L'événement entreprise IF !</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text on-light-small-background"><i>Forum de recrutement des étudiants informatique de l'INSA Lyon</i></h5>
            </div>
            <div class="row center">
                <a href="http://aedi.insa-lyon.fr/rif/" target="_blank" class="btn-large waves-effect waves-light materialize-red lighten-1 modal-trigger">Accéder au site des RIFs !</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{% static 'aedisite/img//rif.jpg' %}" alt="Unsplashed background img 3"></div>
</div>
{% endblock %}
